/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-pbrocks-wp-app-some-tabs {
	border: 1px dotted #f00;
	padding: 1rem;
}
.wp-block-pbrocks-wp-app-some-tabs.is-selected {
	background-color: #f2830e;
}
