/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-pbrocks-wp-app-first-app {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.toplevel_page_pbrocks-first-wp-app #wpcontent {
    background: #FFF;
}
#pbrocks-first-wp-app {
    max-width: 500px;
}
#pbrocks-first-wp-app ul,
#pbrocks-first-wp-app ul li {
    list-style-type: disc;
}
#pbrocks-first-wp-app ul {
    padding-left: 20px;
}
#pbrocks-first-wp-app .components-search-control__input {
    height: 36px;
    margin-left: 0;
}
